{%  extends '::base.html.twig' %} {# /app/resources/views/#}

{% block title %} vPit - get your own carbs {% endblock %}

{% block body %}

    <nav>
        <ul>
            <li> a </li>
            <li> b </li>
            <li> c </li>
        </ul>
    </nav>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            {{ flashMessage }}
        </div>

    {% endfor %}

    index here
{% endblock %}