{%  extends '::base.html.twig' %} {# /app/resources/views/#}

{% block title %} vPit - recipe {% endblock %}

{% block body %}

    <nav>
        <ul>
            <li> a </li>
            <li> b </li>
            <li> c </li>
        </ul>
    </nav>

    here will be shown reference {{ id }}
{% endblock %}