@import "../../import/variables";

.paginationNav {
  li > a,
  .paginationNav li > a:hover {
    color: $barra-grey-font-bright;
  }

  li.active > a,
  li.active > a:hover {
    border-color: $barra-black;
    background-color: $barra-black;
  }
}