{% extends '::base.html.twig' %}
{% block title %}{{ status_code }}{% endblock %}

{# keep empty nav container #}
{% block languageBtn %}{% endblock %}
{% block navList %}{% endblock %}

{% block section %}
    <section class="container errorPage">
        <h1>{{ 'rebuy.error.html_code'|trans({'%code%':status_code}) }}</h1>
        <a href="{{ path('barra_recipe_contact') }}">{{ 'barra.contact.title'|trans() }}</a>
    </section>
{% endblock %}
