{% extends '::base.html.twig' %}
{% block title %}{{ status_code }}{% endblock %}

{# keep empty nav container #}
{% block languageBtn %}{% endblock %}
{% block navList %}{% endblock %}

{% block section %}
    <section class="container errorPage">
        <h1>{{ status_code }}</h1>
    </section>
{% endblock %}
