{% extends '::base.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ status_code }}{% endblock %}

{# keep empty nav container #}
{% block languageBtn %}{% endblock %}
{% block navList %}{% endblock %}

{% block section %}
    <section class="container errorPage">
        <h1>{{ 'app.message.errorCode'|trans({'%code%':status_code}) }}</h1>
        <a href="{{ path('barra_recipe_root') }}">{{ 'app.word.startpage'|trans() }}</a>
    </section>
{% endblock %}