@import "../../import/variables";

#recipePage {
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #macros {
    span {
      // width set via JS
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      margin: -15px 0 0 -43px;
    }
  }

  ul,
  ol {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1.5em;
    list-style-position: inside;
  }
}
