@import "common/common";

#contactPage {
    div[class*='col-'] {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    > div:first-child{
        text-align: center;
    }

    form {
        border-top: 1px solid $barra-grey-border;

        #form_name {
            margin-bottom: 20px;
        }

        #form_message {
            min-height: calc(2 * #{$input-height-base} + 20px);

            @media #{$media-query-max-xs} {
                margin-top: -60px; // overlay col margin
            }
        }

        #form_submit {
            &:hover {
                background-color: $barra-black;
            }

            float: right;
            margin-top: 20px;
            color: $barra-white;
            background-color: $barra-grey-font-bright;
        }
    }
}





/* RECIPES
------------------------------------------------------------------------------*/
#recipesPage .col-xs-12,
#recipesPage .col-sm-4 { padding: 0 }

#recipesPage .thumbnail {
    position: relative;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
}

#recipesPage .thumbnail .caption {
    position: absolute;
        bottom: 0;

    width: 100%;
    padding-left: 20px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(20, 20, 20, 0.2);
}

@media only screen and (max-width: 500px) { /* smart phones */
    #recipesPage .thumbnail img { width: 100% }
}

@media only screen and (min-width: 501px) and (max-width: 767px) { /* ugly width until tables */
    #recipesPage .thumbnail {border: 0}
    #recipesPage .thumbnail .caption {left: 20%}
    #recipesPage .thumbnail img {width: 70%}
}




/* RECIPE
------------------------------------------------------------------------------*/
#recipeCircles > div {
    display: inline-block;
    width: 50%;
    margin-right: -4px; /*since inline-block */
}

#recipeCircles #recipePic {
    position: relative;
    height: 300px; /* same as image, since it's absolute positioned */
}

#recipePic img {
    position: absolute;
        top: 50%;
        left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
}

#recipeChartWrapper {
    position: relative;
    height: 300px; /* same as canvas, since it's absolute positioned */
}

#macroChart {
    position: absolute;
        top: 50%;
        left: 50%;
    /* w & h 300px, set in html tag, as JS requirement, 301, since segmentStroke is invisible  */
    margin: -150px 0 0 -150px;
}

#kcalSpan {
    position: absolute;
        top: 50%;
        left: 50%;
    margin: -15px 0 0 -43px; /* line height 38px & width will be set via JS */
    font-size: 2em;
    display: none;
}

@media only screen and (max-width: 767px) {
    #recipeCircles > div {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    #recipePic {margin-bottom: 20px}
}

#productList,
#cookingList {
    margin: 40px 0;
    padding: 0;
    text-align: center;
    line-height: 1.5em;
    list-style-position: inside;
}
