# app
/app/config/parameters.yml

# bin
/bin/*
!bin/console
!bin/symfony_requirements

# var
/var/cache
/var/sessions
/var/logs
/var/bootstrap.php.cache

# vendors
/vendor
/node_modules

# web
/web/bundles
/web/css
/web/images/*
!/web/images/kujawa.jpg
!web/images/uploads
!/web/images/uploads/fixture.jpg
/web/js

# Mix
.idea/
.htaccess
