# app + bin
/app/config/parameters.yml
/bin/*
!bin/console
!bin/symfony_requirements

# JWT
/app/var/jwt
!app/var/jwt/public-test.pem
!app/var/jwt/private-test.pem

# var
/var/*
!var/SymfonyRequirements.php

# vendors
/vendor
/node_modules
/typings

# web
/web/bundles
/web/images/*
!/web/images/kujawa.jpg
!web/images/uploads
!/web/images/uploads/fixture.jpg
/web/jspm/*
!/web/jspm/config.js

# Mix
.idea/
.htaccess
