# app
/app/config/parameters.yml

# angular pre compile generated
/app/Resources/public/ts/app-compiled

# bin
/bin/*
!bin/console
!bin/build
!bin/symfony_requirements

# JWT
/app/var/jwt
!app/var/jwt/public-test.pem
!app/var/jwt/private-test.pem

# var
/var/cache
/var/sessions
/var/logs
/var/bootstrap.php.cache

# vendors
/vendor
/node_modules

# Typescript Typings
/typings/globals
/typings/modules/gulp

# web
/web/bundles
/web/css
/web/images/*
!/web/images/kujawa.jpg
!web/images/uploads
!/web/images/uploads/fixture.jpg
/web/js
/web/jspm/*
!/web/jspm/config.js

# Mix
.idea/
.htaccess
