@import '~@angular/material/theming';
@include mat-core();

$app-mat_primary: mat-palette($mat-deep-purple);
$app-mat_accent: mat-palette($mat-amber);
$app-mat_theme: mat-light-theme($app-mat_primary, $app-mat_accent);

// angular-material-theme($app-mat_theme) // would include all components
@include mat-button-theme($app-mat_theme);
@include mat-card-theme($app-mat_theme);
@include mat-checkbox-theme($app-mat_theme);
@include mat-form-field-theme($app-mat_theme);
@include mat-input-theme($app-mat_theme);
@include mat-list-theme($app-mat_theme);
@include mat-paginator-theme($app-mat_theme);
@include mat-snack-bar-theme($app-mat_theme);
@include mat-tabs-theme($app-mat_theme);
@include mat-toolbar-theme($app-mat_theme);
@include mat-tooltip-theme($app-mat_theme);
