/* PAGINATION */
.paginationNav { text-align: center; }
.paginationNav li > a, .paginationNav li > a:hover { color: #777777; }
.paginationNav li.active > a, .paginationNav li.active > a:hover {
    background-color: #141414;
    border-color: #141414;
}



#recipesGrid { margin: 20px 0; }
#recipesGrid .thumbnail { padding: 0; }
#recipesGrid .thumbnail .caption { font-size: 1.3em; }




#imageChartWrapper {
    width: 100%;
    margin: 40px 0;
}

#imageChartWrapper > div {
    display: inline-block;
    width: 50%;
    margin-right: -4px; /*since inline-block */
}

#imageChartWrapper .roundImageWrapper {
    position: relative;
    height: 300px; /* same as image, since it's absolute positioned */
}

#imageChartWrapper img {
    position: absolute;
        top: 50%;
        left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
}

#imageChartWrapper .chartWrapper {
    position: relative;
    height: 300px; /* same as canvas, since it's absolute positioned */
}

#imageChartWrapper .chartWrapper canvas {
    position: absolute;
        top: 50%;
        left: 50%;
    /* w & h 300px, set in html tag, as JS requirement, 301, since segmentStroke is invisible  */
    margin: -150px 0 0 -150px;
}

#imageChartWrapper .chartWrapper #kcalSpan {
    position: absolute;
        top: 50%;
        left: 50%;
    margin: -15px 0 0 -43px; /* line height 38px & width will be set via JS */
    font-size: 2em;
    display: none;
}

@media only screen and (max-width: 767px) {
    #imageChartWrapper > div {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    #imageChartWrapper .roundImageWrapper { margin-bottom: 20px; }
}

#ingredientList, #cookingStepList {
    margin: 40px 0;
    text-align: center;
    line-height: 1.5em;
}

#ingredientList { font-size: 1.3em; }
#cookingStepList { font-size: 1.1em; }
.centeredTitle { text-align: center; }