/* BODY */
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}




/* NAVIGATION */
#translationAnchor {
    position: absolute;
    right: 60px;
}

nav {
    position: fixed !important; /* BT _relative */
    width: 100%;
    border: none !important; /* BT 3645 _1px */
    text-transform: uppercase;
    background-color: #141414 !important; /* BT 3036 _.navbar-default */
}

nav li.active > a { /* BT 3959 */
    background-color: transparent !important;
    color: #ffffff !important;
}

nav ul.navbar-nav {
    margin: 0 -15px; /* BT _7.5 */
}

.navbar {
    border-radius: 0;
}

nav.navbar-default .navbar-nav > li > a:hover, #translationAnchor:hover,
nav.navbar-default .navbar-nav > li > a:focus, #translationAnchor:focus {
    color: #fff; /* BT _#333 */
}

@media (min-width: 768px) {
    nav a {
        padding: 30px 15px !important;
    }
    .navbar-collapse.collapse {
        text-align: center;
    }
    nav ul.navbar-nav {
        display: inline-block;
        float: none; /* BT 3812 _left */
    }
    #bs-example-navbar-collapse-1 {
        height: 80px !important; /* fixes height-bug since display:inline-block (85px) */
    }
}





/* SECTION */
section {
    padding: 70px 0 90px; /* t50, s20, b70 since linebreak */
    margin: 0 20px;
}

@media (min-width: 768px) { /* TODO content width is too large for this break point. 3 media queries necessary? */
    section {
        max-width: 974px;
        margin: 0 auto;
        padding: 100px 0 70px; /* t80 center b50 */
    }
}





/* FOOTER */
footer {
    position: absolute;
        bottom: 0px;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    min-height: 50px; /* equal to one line with padding */
    /* TODO smallest width: 3 lines=>not enough margin, between mobil&desktop 1 line with height for 2 */

    color: #777777;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #141414 !important;
}