* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
}


nav, section, footer {
    width: 100%;
}

nav, footer {
    color: white;
    background-color: #141414;
}

nav {
    height: 98px;
    position: fixed;
    z-index: 10000;
    text-transform: uppercase;
}

nav > ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

nav > ul > li {
    margin: 0 -3px; /* gab through inline-block (whitespace) */
    padding: 40px 0 39px 0;
    display: inline-block;
}

nav > ul > li:nth-child(1) > a { /* TODO to select via shown page */
    background-color: #2C2C2C
}

nav > ul > li:hover {
    background-color: #2C2C2C
}

nav a {
    padding: 40px 40px 39px 40px;
    text-decoration: none;
    color: white;
}

#languageButton {
    padding: 40px 0 39px 40px;
    height: 98px;
    position: absolute;
    right: 0;
    top: 0;
}

section {
    max-width: 980px;
    margin: 0px auto;
    padding-top: 112px; /* 98+14 */
    padding-bottom: 84px;/* 70+14 */
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 25px 0 26px 0;
    text-align: center;
}





p {
    margin: 14px 0;
}



