@import "../../import/variables";

#loginPage {
  section {
    text-align: center;
  }

  form {
    max-width: 350px;
    margin: auto;
  }

  form * {
    margin: 8px 0;
    border-radius: 0 !important;
  }

  input[type="checkbox"] {
    width: auto;
    display: inline-block;
    height: inherit;
  }

  label {
    color: #777
  }

  #_submit {
    background-color: #777;
    color: #fff;
    text-transform: uppercase;
  }

  #_submit:focus,
  #_submit:hover,
  #_submit:active,
  #_submit.active { /* BT 2044 */
    background-color: #141414; // TODO just override variable instead
  }
}