{% extends 'BarraFrontBundle::layout.html.twig' %}

{% block title %} vPit Reference {% endblock %}

{% block section %}
    <section>
        here will be shown reference {{ id }}
    </section>
{% endblock %}