{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ ('front.title.'~ reference.name) |trans() }}{% endblock %}

{% block section %}
    <section class="container">
        here will be shown reference {{ id }}
    </section>
{% endblock %}