// colors
$barra-black: #141414;
$barra-white: #FFF;
$barra-red: #F7464A;
$barra-green: #3C948B;
$barra-yellow: #FDB45C;
$barra-grey-border: #DDD;
$barra-grey-background: #F9F9F9;
$barra-grey-font-bright: #777;
$barra-grey-font-dark: #555;

// font-size
$barra-font-size-xl: 1.5em;
$barra-font-size-l: 1.3em;
$barra-font-size-m: 1.1em;
$barra-font-size-default: 16px;

// line-height
$barra-line-height-default: 1.25em; // 20px

// display sizes
$media-query-min-sm: "(min-width: 768px)";
$media-query-max-xs: "(max-width: 767px)";
$media-query-max-xxs: "(max-width: 500px)";

// BT overrides
$border-radius-base: 0;
