section {
    text-align: center;
}

form {
    max-width: 350px;
    margin: auto;
}

form * {
    margin: 8px;
}




.btn-block {
    color: #3C948B;
    border-color: #3C948B;
    text-transform: uppercase;
}


.btn-block:focus,
.btn-block:hover,
.btn-block:active,
.btn-block.active { /* BT 2044 */
    border-color: #3C948B;
    color: #3C948B;
    background-color: #f9f9f9;
}


