{% extends 'BarraFrontBundle::layout.html.twig' %}
{% block title %} vPit Contact {% endblock %}

{% block section %}
    <section>
        {% trans %}hey {% endtrans %}

    </section>
{% endblock %}