{% extends 'BarraFrontBundle::layout.html.twig' %}

{% block title %} vPit Contact {% endblock %}

{% block section %}
    <section>
        here will be shown the contact page

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </section>
{% endblock %}