{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "recipe" %}

{% block title %} vPit Contact {% endblock %}

{% block section %}
    <section>

        {% trans %}
            hey
        {% endtrans %}
    </section>
{% endblock %}