{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.contact'|trans() }}{% endblock %}

{% block section %}
    <section class="container">
        {{ 'front.word.comment'|transchoice(count) }}
        <p>
            Ich trage den Name Paul Kujawa und bin '91 geborener Webentwickler.<br>
            Noch studiere ich internationale Medieninformatik an der HTW Berlin.<br>
            Darüber hinaus bin ich offen für weitere Aufträge und unter Kontakt <strong>erreichbar</strong>.<br>
        </p>
    </section>
{% endblock %}