{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.contact'|trans() }}{% endblock %}

{% block section %}
    <section class="container">
        {{ 'front.word.comment'|transchoice(count) }}
    </section>
{% endblock %}