{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.recipes'|trans() }}{% endblock %}

{% block section %}
    <section class="container">
        <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{{ path('barra_front_recipe', {'name': recipe.name|replace({' ': '_'})}) }}">{{ recipe.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}