{% extends 'BarraFrontBundle::layout.html.twig' %}

{% block title %} {{ recipe.name }} {% endblock %}

{% block section %}
    <section>
        <h1> {{ recipe.name }} </h1>

        <h2> Cooking steps</h2>
        <ol>
            {% for cookingStep in cookingSteps %}
                <li> {{ cookingStep.description }}</li>
            {% endfor %}
        </ol>
    </section>
{% endblock %}