{% extends 'BarraFrontBundle::layout.html.twig' %}

{% block title %} vPit Recipes {% endblock %}

{% block section %}
    all recipes

    <ul>
    {% for recipe in recipes %}
        <li>
            <a href="{{ path('barra_front_recipe', {'id': recipe.id}) }}">{{ recipe.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}