{% block form_row %}
    {% spaceless %}
        <td>
            {# form_label(form) #}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
    {% endspaceless %}
{% endblock form_row %}