@import "../import/variables";

.flex {
  @media #{$media-query-min-sm} {
    display: flex;
  }
}

.flex-align-v {
  align-items: center; // align-self for overrides
}

hr {
  border-top: 1px solid $barra-grey-border;
}

.alert {
  margin-top: 20px;
  margin-bottom: 20px;
}
