@import "../import/variables";

.app-inquiry {
  @media #{$media-query-min-sm} {
    display: grid;
    grid-template-columns: 5fr 7fr;
  }
}

.app-inquiry__image {
  text-align: center;

  @media #{$media-query-min-sm} {
    align-self: center;
    justify-self: center;
  }
}

.app-inquiry-image__item {
  border-radius: 50%;
}
