@import "../import/variables";

.app-inquiry {
  text-align: center;

  @media #{$media-query-min-sm} {
    display: flex;
    align-items: center;
  }
}

.app-inquiry__image {
  max-width: 100%;
  margin: 0 auto 20px;
  height: auto;
  border-radius: 50%;
}
