@import "../import/variables";

$app-product-list_grid-gap: 30px;

.app-product-list {
  display: grid;
  grid-column-gap: $app-product-list_grid-gap;

  @media #{$media-query-min-sm} {
    grid-template-columns: 2fr 3fr;
  }
}

.app-product-list__outlet {
  @media #{$media-query-min-sm} {
    grid-column: 2;
    grid-row: 1 / 4;
  }
}

.app-product-list__filter {
  display: grid;
  grid-column-gap: $app-product-list_grid-gap;

  @media #{$media-query-min-sm} {
    grid-template-columns: 1fr 1fr;
  }
}

.app-product-list-filter__create {
  // TODO css prefixer or some prioritizer would be better
  margin-bottom: 15px !important;
  height: 36px;

  @media #{$media-query-min-sm} {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 0;
  }
}
