<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    stopOnError                 = "false"
    syntaxCheck                 = "true"
    bootstrap                   = "bootstrap.php.cache"
    verbose                     = "true"
>
    <!-- unit & functional tests -->
    <testsuites>
        <testsuite name="Barra's Test Suite">
            <directory>../src/*/*Bundle/Tests</directory>
            <directory>../src/*/Bundle/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>


    <!-- code coverage -->
    <filter>
        <blacklist>
            <directory>/home/paulkujawa/webroot/vagrant/carzapp-portal/vpit/vendor</directory>
        </blacklist>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>/home/paulkujawa/webroot/vagrant/carzapp-portal/vpit/src</directory>

            <exclude>
                <directory>/home/paulkujawa/webroot/vagrant/carzapp-portal/vpit/src/*/*Bundle/Resources</directory>
                <directory>/home/paulkujawa/webroot/vagrant/carzapp-portal/vpit/src/*/*Bundle/Tests</directory>
                <directory>/home/paulkujawa/webroot/vagrant/carzapp-portal/vpit/vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../build/logs" />
    </logging>
</phpunit>
