/* COLORS

BLACK           141414 ( 20,  20,  20)

GREY DARKER     555555 ( 85,  85,  85) BT
GREY DARK       777777 (119, 119, 119) BT
GREY BORDER     dddddd (221, 221, 221) BT
GREY BRIGHT     f9f9f9 (249, 249, 249) BT

RED             DF6C4F (223, 108,  79)
GREEN           3C948B ( 60, 148, 139)
*/



/* BODY */
html {
    height: 100%;
}
body {
    color: #141414 !important;
    min-height: 100%;
    position: relative;
}





/* NAVIGATION */
#translationAnchor {
    position: absolute;
    right: 60px;
}

nav { /* TODO navi entry measurement collides with lang btn */
    position: fixed !important; /* BT _relative */
    z-index: 9999;
    width: 100%;
    border: none !important; /* BT 3645 _1px */
    text-transform: uppercase;
    background-color: #141414 !important; /* BT 3036 _.navbar-default */
}

nav li.active > a { /* BT 3959 */
    background-color: transparent !important;
    color: #ffffff !important;
}

nav ul.navbar-nav {
    margin: 0 -15px; /* BT _7.5 */
}

.navbar {
    border-radius: 0 !important;
}

nav.navbar-default .navbar-nav > li > a:hover, #translationAnchor:hover,
nav.navbar-default .navbar-nav > li > a:focus, #translationAnchor:focus {
    color: #fff; /* BT _#333 */
}

@media (min-width: 768px) {
    nav a {
        padding: 30px 15px !important;
    }
    .navbar-collapse.collapse {
        text-align: center;
    }
    nav ul.navbar-nav {
        display: inline-block;
        float: none; /* BT 3812 */
    }
    #bs-example-navbar-collapse-1 {
        height: 80px !important; /* fixes height-bug since display:inline-block (85px) */
    }
}





/* SECTION */
section {
    padding: 70px 0 70px;
}

@media (min-width: 768px) {
    section {
        margin: 0 auto;
        padding-top: 100px; /* t80 center b50 */
    }
}





/* FOOTER */
footer {
    position: absolute;
        bottom: 0px;
    width: 100%;
    padding: 15px;
    color: #777777;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #141414 !important;
}



.ui-tooltip {
    box-shadow: none !important;
    border: 1px solid #dddddd;
}

.ui-tooltip ul {
    list-style: none;
    padding-left: 0px !important;
}