/* COLORS

BLACK           141414

GREY DARKER     555555  for font
GREY DARK       777777  for font
GREY BORDER     dddddd  for border
GREY BRIGHT     f9f9f9

RED             F7464A
GREEN           3C948B
YELLOW          FDB45C
*/



/* BODY */
html { height: 100% }
body {
    position: relative;
    min-height: 100%;
    color: #141414 !important;
    font-size: 16px;
    line-height: 1.25; /*20px*/
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

/* PAGINATION
------------------------------------------------------------------------------*/
.paginationNav { text-align: center; }
.paginationNav li > a, .paginationNav li > a:hover { color: #777777; }
.paginationNav li.active > a, .paginationNav li.active > a:hover {
    background-color: #141414;
    border-color: #141414;
}


/* NAVI
------------------------------------------------------------------------------*/
#translationAnchor {
    position: absolute;
    right: 60px;
}

.navbar {
    position: fixed !important; /* BT _relative */
    z-index: 9999;
    width: 100%;
    border: none !important; /* BT 3645 _1px */
    text-transform: uppercase;
    background-color: #141414 !important; /* BT 3036 _.navbar-default */
}

.navbar { border-radius: 0 !important }
.navbar ul.navbar-nav { margin: 0 -15px }
.navbar ul.dropdown-menu { background-color: #141414 !important }

.navbar li.active > a,
.navbar-default .navbar-nav > li.open > a,
.navbar-default .navbar-nav .dropdown-menu a:hover { background-color: inherit !important }

.navbar li.active > a,
.navbar .dropdown-menu > li.active > a,

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
#translationAnchor:hover { color: #fff !important; }

.navbar-default .navbar-nav > li.open > a,
.navbar-default .navbar-nav .dropdown-menu a { color: #777 !important }



@media (min-width: 768px) {
    .navbar a { padding: 30px 15px !important }
    .navbar-collapse.collapse { text-align: center }
    .navbar ul.navbar-nav {
        display: inline-block;
        float: none; /* BT 3812 */
    }

    /* fixes height-bug since display:inline-block (85px) */
    #bs-example-navbar-collapse-1 { height: 80px !important }
}


/* SECTION
------------------------------------------------------------------------------*/
section { padding: 70px 0 50px } /* top: 50+20 */

@media (min-width: 768px) {
    section {
        margin: 0 auto;
        padding-top: 100px; /* 80+20 */
    }
}


/* FOOTER
------------------------------------------------------------------------------*/
footer {
    position: absolute;
        bottom: 0;
    width: 100%;
    padding: 15px;
    color: #777777;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #141414 !important;
}

.ui-tooltip {
    box-shadow: none !important;
    border: 1px solid #dddddd;
}

.ui-tooltip ul {
    list-style: none;
    padding-left: 0 !important;
}



/*
------------------------------------------------------------------------------*/
form { margin: 40px 0}
textarea { resize: vertical}

.fontM { font-size: 1.1em }
.fontL { font-size: 1.3em }
.fontXL { font-size: 1.5em }

.centeredTitle {text-align: center}

