{% extends 'BarraBackBundle::layout.html.twig' %}

{% block title %} vPit Admin {% endblock %}

{% block section %}
    <section class="container">
        <a href="{{ path('barra_front_root') }}">
            <span class="glyphicon glyphicon-home"></span>
            {{ 'back.action.frontend'|trans() }}
        </a>

        <br>

        <a href="{{ path('barra_security_logout') }}">
            <span class="glyphicon glyphicon-log-out"></span>
            {{ 'back.action.logout'|trans }}
        </a>
    </section>
{% endblock %}