{% extends 'BarraBackBundle::layout.html.twig' %}

{% block title %} vPit Admin {% endblock %}

{% block section %}
    <section class="container">
        <a href="{{ path('barra_security_logout') }}">{{ 'back.action.logout'|trans }}</a>

    </section>
{% endblock %}