{% extends '::base.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}Admino Login{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite'
        'css/login.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block section %}
    <section class="container">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>{% block fos_user_content %}{% endblock fos_user_content %}</div>
    </section>
{% endblock %}