{% trans_default_domain "messages" %}

{% block navLis %}
    {% for entry in entries %}
        <li {% if request.get('_route') == entry['path'] %}class="active"{% endif %}>
            <a href="{{ path(entry.path) }}">{{ ('back.title.'~entry['label'])|trans }}</a>
        </li>
    {% endfor %}
{% endblock %}