{% extends 'BarraBackBundle::layout.html.twig' %}

{% block title %} vPit References {% endblock %}

{% block section %}
    <section>
        <h1>References</h1>
        <ul>
        {% for reference in references %}
            <li>Company: {{ reference.company }}
                Description: {{ reference.description }}
                Started: {{ reference.started|date('m.Y') }}
                Finished: {{ reference.finished|date('m.Y') }}</li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}