@import "../common/variables";

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  color: $barra-grey-font-bright;
  line-height: $barra-line-height-default;
  background-color: $barra-black !important;
}