{% extends 'BarraDefaultBundle::layout.html.twig' %}

{% block title %} vPit Recipes {% endblock %}

{% block section %}
    all recipes

    <ul>
    {% for recipe in recipes %}
        <li>
            <a href="{{ path('barra_default_recipe', {'id': 1}) }}">{{ recipe.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}