{% extends 'BarraDefaultBundle::layout.html.twig' %}

{% block title %} vPit Recipes {% endblock %}

{% block section %}
    here will be shown all recipes through a grid

    <ul>
    {% for recipe in recipes %}
        <li>{{ recipe.id }}</li>

    {% endfor %}
    </ul>


    <a href="{{ path('barra_default_recipe', {'id': 3}) }}">3. Recipe</a>
{% endblock %}