/* ICONS
---------------------------------------------------------*/
span.glyphicon { margin-right: 9px; }
.glyphicon-minus { color: #DF6C4F; }
.glyphicon-plus { color: #3C948B; }
.inactiveLink span.glyphicon-minus { color: #777777; }

/* BUTTONS
---------------------------------------------------------*/
table .btn { /* BT 1991 overriden by BT .bt-block */
    width: 100%;
    padding-left: 8px;
    text-align: left;
    border-radius: 0px;
    border-color: transparent;
    text-transform: uppercase;
    background-color: inherit;
}

table .btn:hover, table .btn:focus, table .btn:active {
    background-color: inherit;
    border-color: transparent;
}




/* FORM FIELDS IN TABLES
---------------------------------------------------------*/
table .btn-default { min-width: 100%; } /* instead of width by bt-block, since conflicts with td-with & padding */

table input[type="radio"], input[type="checkbox"]  {
    margin-top: 0px;
    width: inherit;
}

table .form-control { /* BT 1689 */
    border: none !important;
    padding: 8px !important;
    border-radius: 0px;
    box-shadow: none;
    background-color: inherit;
}

tr.formInRow td {
    padding: 0px !important; /* BT 1412 */
}

table tr:last-child td {
    border-bottom: 1px solid #dddddd;
}

/* TABLE MOBILE
---------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .mobileTables table,
    .mobileTables thead,
    .mobileTables tbody,
    .mobileTables th,
    .mobileTables td,
    .mobileTables tr {
        display: block;
    }

    .mobileTables thead tr { /* Hide table headers at the top (not none since accessibility) */
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .mobileTables tr { border-bottom: 1px solid #ddd; }
    .mobileTables tr:last-child { border-bottom: none; }
    .mobileTables tbody tr:first-child td:first-child { border-top: none}


    .mobileTables td { /* Behave like a "row" */
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align:left;
    }

    .mobileTables td:before {
        position: absolute;
            top: 8px;
            left: 8px;
        padding-right: 8px;
        text-align:left;
        white-space: nowrap;
        font-weight: bold;
    }

    table tr:last-child td { padding-left: 8px !important; }

    .mobileTables td:before { content: attr(data-mobile-title); }
}