* {
  box-sizing: border-box;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.app-section {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media #{$media-query-min-sm} {
    width: 750px;
  }

  @media #{$media-query-min-md} {
    width: 970px;
  }

  @media #{$media-query-min-lg} {
    width: 1170px;
  }
}
