@import "../import/variables";

.app-recipe-facts {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  color: $app-shared-color_black--brighter;

  .material-icons {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;

    @media #{$media-query-min-sm} {
      bottom: -6px;
    }
  }

  span {
    justify-self: center;
    display: inline-block;
    vertical-align: middle;
  }
}

.app-recipe-facts--white {
  color: #fff !important;

  .material-icons {
    color: #fff !important; // TODO use css-prefixer instead
  }
}
