@import "../../import/variables";

#contactPage {
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  form {
    #form_message {
      min-height: calc(2 * #{$input-height-base} + 20px);
    }
  }
}