@import "scss/import/variables";

#contactPage {
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  form {
    #contact_message {
      min-height: calc(2 * #{$input-height-base} + #{$form-group-margin-bottom});
    }
  }
}
